In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\ashwa\Downloads\netflix_titles.csv")

In [7]:
# check the shape of the dataset
print("Number of rows and columns:", df.shape)

# check the column names
print("Column names", df.columns.tolist())

# Get basic information sbout data types and missing values
df.info()

# check for null values
df.isnull().sum()

Number of rows and columns: (8807, 12)
Column names ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [9]:
# Fill missing 'country' values with "Unknown"
df['country'] = df['country'].fillna('Unknown')

# Fill missing 'cast' and 'director' with "Not Specified"
df['cast'] = df['cast'].fillna('Not Specified')
df['director'] = df['director'].fillna('Not Specified')

# Drop rows where 'date_added' or 'rating' is missing, if they are few
df = df.dropna(subset=['date_added', 'rating'])

# Confirm all missing values are handled
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        3
listed_in       0
description     0
dtype: int64

In [17]:
# Check for completely duplicated rows
duplicate_rows = df[df.duplicated()]
print(f"Number of completely duplicated rows: {duplicate_rows.shape[0]}")

# If you'd like to see some of them:
duplicate_rows.head()

Number of completely duplicated rows: 0

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, year_added, month_added]
Index: []

In [19]:
# Check how many times each title appears
title_counts = df['title'].value_counts()

# Show titles that appear more than once
duplicate_titles = title_counts[title_counts > 1]
print(f"Number of duplicated titles: {duplicate_titles.shape[0]}")
duplicate_titles.head()

Number of duplicated titles: 1

title
Consequences    2
Name: count, dtype: int64

In [21]:
# Show all rows where the title is "Consequences"
df[df['title'] == 'Consequences']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added,month_added
3371,s3372,Movie,Consequences,Ozan Açıktan,"Nehir Erdoğan, Tardu Flordun, İlker Kaleli, Se...",Turkey,2019-10-25,2014,TV-MA,106 min,"Dramas, International Movies, Thrillers",Secrets bubble to the surface after a sensual ...,2019,10
6529,s6530,Movie,Consequences,Ozan Açıktan,"Nehir Erdoğan, Tardu Flordun, İlker Kaleli, Se...",Turkey,2019-10-25,2014,TV-MA,106 min,"Dramas, International Movies, Thrillers",Secrets bubble to the surface after a sensual ...,2019,10

In [23]:
# Drop duplicated titles, keeping only the first occurrence
df = df.drop_duplicates(subset='title', keep='first')

# Confirm it's gone
print(f"Number of times 'Consequences' appears now: {df[df['title'] == 'Consequences'].shape[0]}")

Number of times 'Consequences' appears now: 1

In [13]:
# Strip leading/trailing spaces from 'date_added'
df['date_added'] = df['date_added'].str.strip()

# Now convert to datetime
df['date_added'] = pd.to_datetime(df['date_added'], format="%B %d, %Y", errors='coerce')

# After conversion, check if any dates couldn't be parsed
print("Unparsed date entries (NaT):", df['date_added'].isna().sum())

# Optional: Drop rows where date couldn't be parsed (if any)
df = df.dropna(subset=['date_added'])

# Extract year and month for analysis
df['year_added'] = df['date_added'].dt.year
df['month_added'] = df['date_added'].dt.month

# Preview the changes
df[['date_added', 'year_added', 'month_added']].head()

Unparsed date entries (NaT): 0

  date_added  year_added  month_added
0 2021-09-25        2021            9
1 2021-09-24        2021            9
2 2021-09-24        2021            9
3 2021-09-24        2021            9
4 2021-09-24        2021            9

In [25]:
# Clean column names: lowercase, strip spaces, replace spaces with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# Preview the new column headers
print("Cleaned column names:", df.columns.tolist())

Cleaned column names: ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'year_added', 'month_added']

In [15]:
# Strip extra spaces from object type columns (e.g., 'type', 'title', etc.)
df['type'] = df['type'].str.strip()
df['title'] = df['title'].str.strip()
df['rating'] = df['rating'].str.strip()

# Check unique types and ratings
print("Unique content types:", df['type'].unique())
print("Unique ratings:", df['rating'].unique())

Unique content types: ['Movie' 'TV Show']
Unique ratings: ['PG-13' 'TV-MA' 'PG' 'TV-14' 'TV-PG' 'TV-Y' 'TV-Y7' 'R' 'TV-G' 'G'
 'NC-17' '74 min' '84 min' '66 min' 'NR' 'TV-Y7-FV' 'UR']